
*{
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.board{
    width: 30em;
    height: 30em;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;  
}

#restartGame{
    width:10em;
    height: 3em;
    border-radius: 10px;
    border: none;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    background:linear-gradient(to left,green,red,yellow);
    color:rgb(222, 213, 213);
    font-weight: bolder;
    transition: all 1s ease;
    
}
#restartGame:hover{
    cursor: pointer;
    background: linear-gradient(to left,yellow,red,green);

}

#resultDiv{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
 h1{
    margin: 0;
 }
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font: bolder;
    font-size: larger;
    margin-bottom: .3em;
}

.tik{
    color: green;
}
.tak{
    color:red;
}
.toe{
    color: yellow;

}

.sas{
    background-color: red;
}
